MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=db_sibansos_ngrowo
MYSQL_USER=sibansos_user
MYSQL_PASSWORD=sibansos_pass
SECRET_KEY=local-development-only-change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
